* {
    padding: 0;
    margin: 0;
}
body {
    overflow: hidden;
    margin-top: 50px;
    background-color: rgba(255, 255, 255, 0.925);
}

#logoMobile {
    display: none;
}


  @media (max-width: 430px)and (orientation:portrait) {
    body{background: rgb(255, 255, 255);
        margin: 0;
        overflow:auto;
      }

    #logo {
        display: none;
    }
    #logoMobile {
        display: flex;
        width: 100vw ;}
  }

  @media (min-width: 576px) and (max-width: 991.98px) and (orientation:landscape) {
    body{background: rgb(255, 255, 255);
    margin-top: 150px;
    }

}

